.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: yellow;
  border-bottom: 3px solid rgb(0, 225, 0);
  font-size: 20px;
}
.navbar-collapse {
  float: right;
}
html body {
  background-color: #323639;
  color: #b8c6d1;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.mainPage {
  position:relative;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 20px;
}

.topnav{
  background-color: #212529;
  color:white;
  
  border-bottom: 3px solid rgb(225, 154, 0);
  height:70px;
  width:100%;
  display:block; 
  vertical-align:middle;
}
.topnav h3 {
  padding-top: 15px;
  display:inline-block;
  padding-left: 15px;
  padding-right: 30px;
  vertical-align:middle;
}

.widgetCard{
  background-color: #f4f4f4;
  color:black;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  height: 100px;
  width: 100px; 
  display: table;
  margin:15px;
  float:left;
}

.widgetTop{
  height:20px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background-color:lightslategray;
  color:white;
  
  display:table-row;
  vertical-align: top;
  border-radius:5px 5px 0px 0px;
}

.widgetCenter{
  width: 100%;
  vertical-align: middle;
  display:table-cell;
  font-size: 25px;
  
  text-align: center;
}
.widgetBtm{
  vertical-align: bottom;
  display:table-row;
  height:20px;
  
  text-align: center;
  
  font-size: 12px;
}

.arrangeHorizont{
  display:inline-block;
  text-align: center;
  justify-content: center;
}

.sectionDivider{
  border-bottom: 1px solid;
  padding-bottom: 10px;
}